<%= form_for @patient, :html => { :class => "form-horizontal patient" } do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :dob, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :dob, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dob) %>
  </div>
  <div class="form-group">
    <%= f.label :gender, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label :provider_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:provider_id, Provider.all.collect {|pro| [pro.name, pro.id]}, class: 'form-control') %>
    </div>
    <%=f.error_span(:provider_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
